@font-face {
    font-family: 'Oswald', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
header {
    height: 180px;
    background-color: #BAC5CF;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    background-color: #1C213E;
;
}
main {
    color: #BAC5CF;
    margin-top: ;
}

.container {
}
nav li {
    float: left;
    display: inline-flex;
    text-align: center;
    padding: 45px;
}
a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: #1C213E;
    font-size: 36px;
}
.logo {
    align-items: center;
    justify-content: left;
}
img {
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
}

.productcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    height: 400px;
    text-align: center;
    margin: 5%;
    font-family: 'Oswald', sans-serif;;
    background-color: #1C213E;
}
.containercards {
    display: flex;
    flex-wrap: wrap;
}

.product-image {
    width: 200px;
}
nav {
    color: #1C213E;
}
.cta {
    background-color: #BAC5CF;
    padding: 10px;
    width: 400px;
    color: #1C213E;
    text-align: center;
    font-size: 36px;
    white-space: nowrap;
}
.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.indexmain {

}


