@font-face {
    font-family: 'Oswald', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', 'Verdana, sans-serif';
    background-color: #1c213e;
    height: 100%;
}

/* top bar */

header {
    display: flex;
    background-color: #bac5cf;
    height: 100px;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    padding-left: 0;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    display: inline-block;
    width: calc(80%/4);
}

a {
    text-decoration: none;
    color: #1C213E;
    font-size: xx-large;
}

/* store page */

main {
    color: #bac5cf;
}
h2 {
    font-size: larger;
    font-weight: 500;
}

.containercards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
img {
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
}

.productcard {
    border-style: solid;
    border-width: 1px;
    border-color: #bac5cf;
    max-width: 200px;
    height: 400px;
    margin: 5%;
    text-align: left;
    font-family: 'Oswald', sans-serif;;
    background-color: #1C213E;
}

.cardtitle {
    padding-left: 2%;
}

.price {
    font-size: larger;
    position: absolute;
    border: 3px;
    border-style: solid;
    transform: translate(50px, 15px);

}
.console {
    font-size: small;
    font-weight: 300;
    margin: 4%;
    transform: translateY(5px);
}
.cartstore {
    color: #1C213E;
    font-size: larger;
    font-weight: 500;
    position: absolute;
    transform: translate(106px, 15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #bac5cf;
    width: 88px;
    height: 35px;
    text-align: justify;
    
}

/* index page */

.indexmain {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 80%;
}

.cta {
    background-color: #bac5cf;


}

/* about page */

.aboutcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
}

.aboutcontainer h1 {
    text-align: center;
    margin: 3%;
    font-weight: 400;
}

.aboutcontainer p {
    text-align: center;
    width: 60%;
    margin: 0.5%;
    font-weight: 400;
}

/* checkout */

.checkoutcontainer {
    height: 100vh;
    display: grid;
    grid-template-areas:
    'cart paymentoptions form';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr 2fr;
    grid-gap: 10;
}

.cart {
    grid-area: cart;
    color: #1C213E;
    background-color: #bac5cf;
    display: grid;
    margin: 10%;
    height: 100%;
    max-width: 100%;
    min-width: 80%;
}

.price {
    border: #bac5cf;
}

.prodimg {
    width: 40%;
}

.paymentoptions {
    grid-area: paymentoptions;
    background-color: #bac5cf;
    color: #1C213E;
    height: 15vh;
    width: 70%;
    margin: 5%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    '. title title title .'
    '. ms . vs .';

}

.mastercard {
    grid-area: ms;
    transform: translateY(-12%);

}

.visa {
    grid-area: vs;
}

.paytitle {
    grid-area: title;
    text-align: center;
}

.form {
    display: flex;
    flex-wrap: wrap;
    width: 33%;
    flex-flow: column;
}
.bginput {
    width: 200%;
}

.sminput {
    width: 90%;
}
.cvv{

    /*transform: translateX(200%);*/
}

.exp {

}

/*.form {
    grid-area: form;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 0.1fr);
    grid-template-areas: 
    'em em'
    'ac .'
    'nm nm'
    'cn cn'
    'exp cvv';
}

.email {
    grid-area: em;
}

.addcard {
    grid-area: ac;
}

.name {
    grid-area: nm;
}

.cn {
    grid-area: cn;
}

.exp {
    grid-area: exp;
    
}

.cvv {
    grid-area: cvv;
    
    box-sizing: border-box;
}

.bginput {
    width: calc(100% / 2);

}

.sminput {
    width: calc(100% / 4 );
}

.details {
    width: 100%;
}*/




footer {
    display: flex;
    width: 100%;
    color: #bac5cf;
    justify-content: center;
    border-top: 1px solid;
    padding-bottom: 5%;
}

@media (max-width: 600px) {

}