@font-face {
    font-family: 'Oswald', sans-serif;
}
* {
    margin:0, padding 0
}
header {
    height: 115px;
    background-color: #BAC5CF;
}

body {
    background-color: #1C213E;
}
.logo {
    width: 150px;
}
.productcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    height: 450px;
    text-align: center;
    margin: 20px;
    font-family: 'Oswald', sans-serif;;
    float: left;
    background-color: #1C213E;
}
main {
    color: #BAC5CF;
}
.product-image {
    width: 200px;
}
nav {
    color: #1C213E;
}
.cta {
    background-color: #BAC5CF;
    padding: 20px;
    width: 200px;
    color: #1C213E;
    text-align: center;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    margin: 500px;
}

